<!-- Card -->
<aside class="card-grid">
  <div aria-label="Cartão pessoal" class="card">

    <div class="">
      <h1 class="card-title">Kelwyn Oliveira</h1>
      <p class=""></p>
    </div>

    <figure class="card-perfil">
      <img src="{{ 'assets/img/kelwyn-oliveira.jpg' | relative_url }}" alt="Kelwyn Oliveira">
    </figure>

    <nav aria-label="Contatos">
      <ul class="contact-list" data-list="contacts">
      </ul>
    </nav>

    <!-- <p class="card-place">Manaus, AM - BR</p> -->
  </div>
</aside>