<div class="categories-menu">
  <nav class="container" aria-label="menu-categories">
    <ul class="menu-list">
      {% for category in site.categories %}
      {% assign name = category[0] %}
      {%- assign category_url = name | slugify: 'latin' -%}
      <li><a class="link-category" href='{{ "/category/" | append: category_url  | relative_url }}'>{{ name | escape | capitalize }}</a></li>
      {%- endfor -%}

      <li><a class="link-category see-all" href='{{ "/all/" | relative_url }}'>See all</a></li>
    </ul>
  </nav>
</div>