<!-- Header -->
<header class="header">
  <div class="header-container">
    <nav class="menu" aria-label="Menu Lateral">
      <button data-menu="button" aria-expanded="false" aria-controls="menu">Menu</button>
      <ul class="menu-list" data-menu="list" id="menu">
        {% for item in site.data.menu %}
        <li><a class="menu-link" href="{{ item[page.lang].href | absolute_url}}">
            <!-- <img src="{{ item.img }}" alt="{{ item[page.lang].alt }}"> -->
            {{ item[page.lang].text }}
          </a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  {% assign asset = "https://kelwynoliveira.github.io/Assets/img/portfolio/" %}
  <div class="language-menu">
    <nav aria-label="Liguagem">
      <ul class="flex-row">
        {% if page.lang == "en" %}
        {% if page.permalink != absolute_url %}
        <li><a href="{{page.permalink | absolute_url }}/pt"><img src="{{asset}}brazil.png" alt="Português"></a></li>
        {% else %}
        <li><a href="{{ 'home/pt' | absolute_url }}"><img src="{{asset}}brazil.png" alt="Português"></a></li>
        {% endif %}
        <li><a href=""><img src="{{asset}}uk.png" alt="English"></a></li>
        {% else %}
        <li><a href=""><img src="{{asset}}brazil.png" alt="Português"></a></li>
        <li><a href="/{{ page.permalink | remove: '/pt' }}"><img src="{{asset}}uk.png" alt="English"></a></li>
        {% endif %}
      </ul>

    </nav>
  </div>
</header>