{% assign SVGassets = "https://kelwynoliveira.github.io/Assets/svg/portfolio/" %}

<aside style='margin-right: 5px'>
  <nav class="aside-menu" aria-label="Menu Lateral">
    <ul class="aside-menu-list">
      <li><a class="link" href="#about"><img src="{{SVGassets}}home.svg" alt="Sobre"></a></li>
      <li><a class="link" href="#projects"><img src="{{SVGassets}}projects.svg" alt="Projetos"></a></li>
      <!-- <li><a class="link" href="#tecnologies"><img src="{{SVGassets}}terminal.svg" alt="Terminal"></a></li> -->
      <li><a class="link" href="#experiences"><img src="{{SVGassets}}Experience.svg" alt="Experiência"></a></li>
      <li><a class="link" href="#school"><img src="{{SVGassets}}school.svg" alt="Escola"></a></li>
      <li><a class="link" href="#languages"><img src="{{SVGassets}}translate.svg" alt="Idiomas"></a></li>
      <li><a class="link" href="#prizes"><img src="{{SVGassets}}Trophy.svg" alt="Trofel"></a></li>
    </ul>
  </nav>
</aside>