@charset "utf-8";
// Define defaults for each variable.
$base-font-family: monospace, sans-serif, calibri !default;
$font-size: 1rem !default;
$base-font-size: $font-size * 1 !default;
$base-font-weight: 400 !default;
$small-font-size: $font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 30px;

$spacing-unit: 30px !default;
$text-color: #111 !default;
$border-light: 3px solid #c9cdce;
$border-lighter: 3px solid #fff;
$border-dark: 3px solid #666;
$border-shadow-window: 3px solid #000;

// Width of the content area
$content-width: 210mm !default;

$on-min: 450px !default;
$on-palm: 800px !default;
$on-laptop: 1200px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "style/reset", "style/layout", "style/c_printeable";
