<section class="section-home-container">

  <div class="section-home-div">
    <a class="section-home-title" href="#experiences">
      <img src="https://kelwynoliveira.github.io/Assets/svg/portfolio/Experience.svg" alt="{{ page.experiences }}">
      {{ page.experiences }}
    </a>
  </div>


  {% for experience in site.data.experiences %}
  <div class="section-item content">

    <h2 class="sub-title">{{ experience.title[page.lang]}}</h2>

    {% for company in experience.experiences %}
    <div class="experience-container">
      <div class="experience-img-container">
        <img src="{{company.logo}}" alt="{{company.enterprise}}">
      </div>

      <div>
        <h5 class="experience-title">{{company.enterprise}}</h5>
        <ul class="experience-list">

          {% assign job = company.jobs[0] %}
          <li>
            <span></span>
            <div class="">
              <p class="experience-role-title">{{ job[page.lang].title }}</p>
              <p class="experience-place">{{ job.place }}</p>
              <p class="experience-date">{{ job.start-date | date: "%b %Y"}} - {{ job.end-date | date: "%b %Y"}}</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endfor %}


  <!-- Btn see more -->
  <div class="btn-more">
    {% if page.lang == "pt" %}
    <a class="btn-full" href="{{ '/experiences/pt' | absolute_url }}">{{ page.more }}</a>
    {% else %}
    <a class="btn-full" href="{{ '/experiences' | absolute_url }}">{{ page.more }}</a>
    {% endif %}
  </div>
</section>