<section class="section-home-container">

  <div class="section-home-div">
    <a class="section-home-title" href="#prizes">
      <img src="https://kelwynoliveira.github.io/Assets/svg/portfolio/Trophy.svg" alt="{{ page.prizes }}">
      {{ page.prizes }}
    </a>
  </div>

  <div class="academics-container content">
    <ul class="graduations-list">

      {% assign prize = site.data.prizes %}
      {% for index in (0..2) %}
      <li class="graduation-item">
        <p class="graduation-title">{{ prize[index].description[page.lang].prize }}</p>
        <a class="graduation-course" href="{{ prize[index].certificate }}" target="_blank">{{ prize[index].description[page.lang].title }}</a>
        <p class="graduation-school">{{ prize[index].description[page.lang].place }}</p>
      </li>
      {% endfor %}

    </ul>
  </div>


  <!-- Btn see more -->
  <div class="btn-more">
    {% if page.lang == "pt" %}
    <a class="btn-full" href="{{ '/prizes/pt' | absolute_url }}">{{ page.more }}</a>
    {% else %}
    <a class="btn-full" href="{{ '/prizes' | absolute_url }}">{{ page.more }}</a>
    {% endif %}
  </div>
</section>