/*
To remove the printing date, title page, link and pagination on printing the page
*/
/*
@page {
  size: auto;
  margin: 0mm;
}
*/

// Printed version

a,
a.active,
a.visited,
a.hover {
  color: $text-color;
  text-decoration: underline;
}

table {
  border-collapse: separate;
  border-spacing: $base-font-size 0;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.manheader {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: $base-font-size;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: calc(#{$spacing-unit} / 2);
  line-height: $base-line-height * 0.8;
}

.subtext {
  margin-left: $spacing-unit;
  @include media-query($on-palm) {
    margin-left: calc(#{$spacing-unit} / 2);
  }
}

.doublesubtext {
  margin-left: calc(#{$spacing-unit} * 2);
  @include media-query($on-palm) {
    margin-left: $spacing-unit;
  }
}

.triplesubtext {
  margin-left: calc(#{$spacing-unit} * 2.5);
  @include media-query($on-palm) {
    margin-left: calc(#{$spacing-unit} * 1.5);
  }
}

.bottomcut {
  margin-bottom: 0px;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font: 400 11px/1.125 monospace;
  }

  .printeable {
    display: block;
  }

  table {
    border-spacing: 22px 0;
  }

  .title {
    font-size: 12px;
  }

  .noprint {
    display: none;
  }

  #windows-version:checked ~ main .printeable {
    display: block;
  }
  #windows-version:checked ~ main .windows-div {
    display: none;
  }
}
