@charset "utf-8";
// Define defaults for each variable.
$base-font-family: monospace !default;
$font-size: 16px !default;
$base-font-size: $font-size * 1 !default;
$base-font-weight: 400 !default;
$small-font-size: $font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;
$text-color: #111 !default;

// Width of the content area
$content-width: 210mm !default;

$on-min: 450px !default;
$on-palm: 500px !default;
$on-laptop: 1200px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "style/_reset";
/*
To remove the printing date, title page, link and pagination on printing the page
*/
/*
@page {
  size: auto;
  margin: 0mm;
}
*/

* {
  font: $base-font-weight #{$small-font-size}/#{$base-line-height}
    $base-font-family;
}

a,
a.active,
a.visited,
a.hover {
  color: $text-color;
  text-decoration: underline;
}

table {
  border-collapse: separate;
  border-spacing: $base-font-size 0;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.header,
.footer {
  margin: $spacing-unit 0;
}

.manheader {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: $base-font-size;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: calc(#{$spacing-unit} / 2);
  line-height: $base-line-height * 0.8;
}

.subtext {
  margin-left: $spacing-unit;
  @include media-query($on-palm) {
    margin-left: calc(#{$spacing-unit} / 2);
  }
}

.doublesubtext {
  margin-left: calc(#{$spacing-unit} * 2);
  @include media-query($on-palm) {
    margin-left: $spacing-unit;
  }
}

.triplesubtext {
  margin-left: calc(#{$spacing-unit} * 2.5);
  @include media-query($on-palm) {
    margin-left: calc(#{$spacing-unit} * 1.5);
  }
}

.bottomcut {
  margin-bottom: 0px;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font: $base-font-weight 11px/1.125 $base-font-family;
  }

  table {
    border-spacing: 22px 0;
  }

  .title {
    font-size: 12px;
  }

  .noprint {
    display: none;
  }
}
