// layout
* {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
  height: 100%;
}
header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

// Main menu
.inputs {
  display: none;
}
.menu-item-file,
.menu-item-view,
.menu-item-help {
  // background-color: #a0a0a0;
  // border-top: $border-dark;
  border-left: $border-dark;
  border-right: $border-dark;
  border-bottom: $border-lighter;
  padding: 5px 10px;
  display: none;
}

#file:checked ~ .header .menu {
  label[for="file"] {
    border-top: $border-dark;
    border-left: $border-dark;
    border-right: $border-dark;
    border-bottom: none;
    // background-color: #a0a0a0;
  }
  .menu-item-file {
    display: block;
  }
}

#view:checked ~ .header .menu {
  label[for="view"] {
    border-top: $border-dark;
    border-left: $border-dark;
    border-right: $border-dark;
    border-bottom: none;
    // background-color: #a0a0a0;
  }
  .menu-item-view {
    display: block;
  }
}

#help:checked ~ .header .menu {
  label[for="help"] {
    border-top: $border-dark;
    border-left: $border-dark;
    border-right: $border-dark;
    border-bottom: none;
    // background-color: #a0a0a0;
  }
  .menu-item-help {
    display: block;
  }
}

#print-version:checked ~ main .printeable {
  display: block;
}
#print-version:checked ~ main .windows-div {
  display: none;
}
#windows-version:checked ~ main .printeable {
  display: none;
}
#windows-version:checked ~ main .windows-div {
  display: block;
}

// Visual version
.header {
  a {
    text-decoration: none;
  }
  background-color: #c9cdce;
  color: #010201;
  font-family: $base-font-family;
  padding: 5px;
  font-size: $font-size * 1.25;
  @include media-query($on-palm) {
    font-size: $font-size;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    background-color: #000098;
    color: #ffffff;
  }
  .menu {
    .main-options {
      padding-top: 5px;
      // padding-bottom: 5px;
      display: flex;
      .level-1 {
        cursor: pointer;
        padding: 5px 10px;
        display: block;
        border-bottom: $border-dark;
        span {
          text-decoration: underline;
        }
      }
      .space {
        width: 100%;
        border-bottom: $border-dark;
      }
    }
    .menu-item {
      .button {
        display: inline-block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 1px 6px;
        font-size: $base-font-size;
        line-height: $base-line-height;
        img {
          height: 30px;
          margin: 0 auto;
        }
        img,
        span {
          display: block;
        }
      }
    }
  }
  @include media-query($on-palm) {
    img {
      height: 20px;
    }
  }
}

// not printeable
.windows-div {
  height: 100%;
}
.windows {
  background-color: #c9cdce;
  padding: 5px;
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  display: flex;
  .folders {
    min-width: 250px;
    margin-right: 5px;
  }
  .content {
    margin-left: 5px;
    width: 100%;
  }
  .folders,
  .content {
    position: relative;
    background-color: #fff;
    border-top: $border-dark;
    border-left: $border-dark;
    border-bottom: $border-lighter;
    border-right: $border-lighter;
    .window-content {
      height: 100%;
      width: 100%;
      padding: calc(#{$spacing-unit} / 2);
      border-top: $border-shadow-window;
      border-right: $border-dark;
      border-bottom: $border-dark;
      border-left: $border-shadow-window;
      position: absolute;
      overflow: auto;
    }
  }
  @include media-query($on-palm) {
    .folders {
      display: none;
    }
    .content {
      margin-left: 0;
    }
  }
}

// Content
.categories-list {
  display: flex;
  gap: $spacing-unit;
  flex-wrap: wrap;
  li {
    width: calc(#{$spacing-unit} * 5);
    text-align: center;
  }
  .link-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: $text-color;
    .category-img,
    .post-img {
      max-width: calc(#{$spacing-unit} * 5);
      height: calc(#{$spacing-unit} * 3);
      object-fit: contain;
    }
    .post-img {
      border: 1px solid black;
    }
  }
}

// Post
.post {
  .post-header {
    .thumb {
      width: 100%;
    }
    .title-card {
      text-align: center;
      .post-title {
        font-size: $font-size * 2;
        @include media-query($on-palm) {
          font-size: $font-size;
        }
      }
    }
  }
  .post-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .post-tags {
    margin: calc(#{$spacing-unit} / 2) 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .post-content {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    font-size: $font-size;
  }
}

.footer {
  border-top: $border-light;
  border-bottom: $border-shadow-window;
  margin-bottom: 5px;
}
