:root {
  --primary-color: #ffbb00;
  --primary-color-5: #332200;
  --color-6: #9c9c9c;
  --color-4: #cccccc;
  --bg: #000000;
  --text1: #ffffff;
  --filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(23deg)
    brightness(100%) contrast(100%);
  --linear: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text1);
  transition: 0.5s;
  font-style: normal;
}
body {
  background-color: var(--bg);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header language */
.language-menu {
  padding: 0 12px;
}
.language-menu ul {
  display: flex;
  justify-content: flex-end;
}
.language-menu li + li {
  margin-left: 20px;
}
.language-menu li a {
  display: block;
}

/* Body */
.body-container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  position: relative;
}
.content {
  padding: 0 20px;
}
.main {
  grid-column: 5/12;
}

h1.title {
  font-family: Poppins;
  font-size: 4rem;
  color: var(--primary-color);
  margin-bottom: 96px;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.section-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sub-title {
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* projects */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-container,
.experience-container {
  display: flex;
  gap: 16px;
}
.project-img-container img,
.experience-img-container img {
  width: 40px;
  height: 40px;
}
.project-title,
.experience-title {
  margin-top: 7px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
}
.project-description {
  font-family: "Roboto";
  line-height: 1.5;
}
.project-date,
.experience-place,
.experience-date {
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 0.875rem;
  color: var(--color-6);
  font-weight: 400;
}
.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-list li {
  width: 260px;
  text-align: center;
  padding: 10px;
}
.projects-list a {
  display: inline-block;
}
.projects-list .thumb {
  width: 240px;
  height: 135px;
}
.projects-list li p {
  padding: 5px;
  font-family: "Roboto";
  font-size: 1.125rem;
}
.projects-list p span {
  color: var(--color-6);
}
.projects-list li:hover {
  background: var(--primary-color);
}
.projects-list li:hover p,
.projects-list li:hover p span {
  color: var(--primary-color-5);
}
.projects-list li:hover p span {
  text-decoration: underline;
}

/* Prizes */
.prizes-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.prize-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prize-certificate {
  /* color: var(--primary-color); */
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.36px;
  line-height: 1.5;
}
.prize-certificate:hover,
.graduation-course:hover,
.language:hover,
.btn-full:hover {
  filter: var(--filter);
}
.prize-certificate::after,
.graduation-course::after,
.certification-title::after,
.external-link::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  bottom: 8px;
  background: url("https://kelwynoliveira.github.io/Assets/svg/portfolio/open_in_new.svg")
    no-repeat center center;
}
.prize-place,
.prize-type {
  font-family: "Roboto";
  line-height: 1.5;
  color: var(--color-6);
}

/* Experiences */
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experience-role-title {
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 500;
}
.experience-activities-list {
  list-style-type: disclosure-closed;
  margin-left: 20px;
  font-family: "Roboto";
  line-height: 1.5;
}
.experience-activities-list li {
  color: var(--color-4);
}

/* Education */
.academics-container {
  display: flex;
  justify-content: center;
}
.graduations-list {
  display: flex;
  overflow: auto;
  gap: 20px;
}
.graduation-item {
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  padding: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 260px;
  max-width: 260px;
}
.graduation-title {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-6);
}
.graduation-course {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  /* color: var(--primary-color); */
}
.graduation-school {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-6);
  text-transform: uppercase;
}

.certifications-list,
.certifications-list-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 12px;
}
.certifications-list {
  max-height: 400px;
  overflow: auto;
}

.certifications-list.scroll::-webkit-scrollbar {
  width: 5px;
}
.certifications-list.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 5px grey;
}
.certifications-list.scroll::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
.certifications-list.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--text1);
}

.certification-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.certification-title {
  /* color: var(--primary-color); */
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}
.certification-title:hover {
  filter: var(--filter);
}
.certification-date,
.certification-school {
  color: var(--color-6);
  line-height: 1.5;
  font-family: "Roboto";
}
.certification-category-list {
  display: flex;
}
.certification-category {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto";
  color: var(--color-4);
}

/* Header and Footer */
.header {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}
.footer {
  margin-top: 96px;
  border-top: 1px solid var(--primary-color);
}
.header,
.footer {
  padding: 32px 20px;
}
.header-container,
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-title,
.footer-title {
  font-family: Poppins;
  font-size: 1.5rem;
}
.header-title a:hover,
.footer-title a:hover {
  color: var(--primary-color);
}
.menu-list {
  display: flex;
}
.menu-list li {
  display: flex;
  align-items: center;
}
.menu-list li + li::before {
  content: "";
  width: 2px;
  height: 25px;
  background: var(--primary-color);
  margin: 0 20px;
}

.menu-link {
  color: var(--primary-color);
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-link:hover {
  filter: var(--filter);
}
.menu-link img {
  width: 20px;
}
[data-menu="button"] {
  display: none;
}

.contact-list {
  display: flex;
  text-align: center;
  gap: 20px;
  font-family: "Roboto";
}
.contact-list .link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
}
.contact-list .link:hover {
  filter: var(--filter);
}
.contact-list .link img {
  width: 45px;
  height: initial;
}

/* Home */
.section-home-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 46px;
}
.section-home-div {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
  background-color: var(--bg);
  box-shadow: 0 -2rem 0 0 var(--bg), 0 0.5rem 0 0 var(--bg);
  z-index: 99;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Poppins;
  padding: 0 20px;
}
.section-home-title {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.section-home-title img {
  max-width: 25px;
}
.btn-more {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.btn-full {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--primary-color-5);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: Poppins;
}

/* About me */
.whomi {
  font-family: Poppins;
  line-height: 1.125;
  font-size: 4rem;
  font-weight: 600;
}
.text-enfasis {
  color: var(--primary-color);
}
.about-me {
  margin-top: 12px;
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-6);
}

.languages-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.language-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.language {
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 500;
}
.language-level {
  font-family: "Roboto";
  line-height: 1.5;
  color: var(--color-6);
}
.language-certificate {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-6);
}

/* Aside */

/* Card */
.card-grid {
  grid-column: 1/5;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: sticky;
  position: -webkit-sticky;
  top: 32px;
  margin: 32px 0;
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  padding: 32px;
  align-items: center;
}
.card-title {
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem;
  font-family: Poppins;
}
.card-perfil img {
  max-height: 240px;
}
.card-place {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--color-6);
}

/* Assid menu */
.aside-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 32px;
}
.aside-menu-list {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  padding: 16px;
  gap: 16px;
}

@media (max-width: 1100px) {
  .card-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .card {
    display: none;
  }
  .main {
    grid-column: 1/-1;
  }
}

@media (max-width: 700px) {
  h1.title {
    font-size: 3rem;
  }
  .projects-list {
    margin-top: 48px;
  }
  .contact-list .link img {
    display: none;
  }
  .whomi {
    font-size: 2rem;
  }
  /* Menu mobile */
  .menu-list li + li::before {
    display: none;
  }
  .js [data-menu="button"] {
    display: flex;
    background: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: bold;
    color: var(--primary-color-5);
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }
  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: var(--primary-color-5);
    box-shadow: 0 4px var(--primary-color-5), 0 -4px var(--primary-color-5);
    margin-right: 8px;
    transition: transform 0.3s;
  }
  .js [data-menu="button"].active {
    background: var(--bg);
    color: var(--primary-color);
    box-shadow: inset 0 1px var(--primary-color),
      inset 0 -1px var(--primary-color), inset 1px 0 var(--primary-color),
      inset -1px 0 var(--primary-color);
  }
  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
    background: var(--primary-color);
    box-shadow: 0 4px var(--primary-color), 0 -4px var(--primary-color);
  }
  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: var(--bg);
    z-index: 200;
    /* width: 100%; */
    top: 0;
    left: 0;
    padding: 100px 60px 60px 40px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .js [data-menu="list"].active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: show-right 0.5s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
  .menu-link {
    font-size: 1.5rem;
    width: 100%;
    align-items: start;
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
