<h2 class="title">FILES</h2>
<p class="subtext bottomcut">
  * Formal education
</p>
<p class="doublesubtext">
  - PG, Advanced Golang Development from Faculdade Brasília (FB), 2023-present <br>
  - Bac, Control and Automation Engineering from Universidade do Estado do Amazonas (UEA), 2023<br>
  - Tech, Mechatronics from Instituto Federal do Amazonas (IFAM), 2013<br>
</p>
<p></p>
<p class="subtext bottomcut">
  * Certifications
</p>
<p class="doublesubtext">
  - Certified SCRUM Master I<br>
  - Certified Six Sigma - Yellow Belt<br>
  - More at <a href="https://www.linkedin.com/in/kelwynoliveira/">linkedin.com/in/kelwynoliveira/</a><br>
</p>
<p></p>