<h2 class="title">FILES</h2>
<p class="subtext bottomcut">
  * Formal education
</p>
<p class="doublesubtext">
  - PG, Advanced Golang Development from Brasilia University (FB), 2023-present <br>
  - Bac, Control and Automation Engineering from University of the State of Amazonas (UEA), 2023<br>
  - Tech, Mechatronics from Federal Institute of Education, Science and Technology of Amazonas (IFAM), 2013<br>
</p>
<p></p>
<p class="subtext bottomcut">
  * Certifications
</p>
<p class="doublesubtext">
  - Certified SCRUM Master I<br>
  - Certified Six Sigma - Yellow Belt<br>
  - More at <a href="https://www.linkedin.com/in/kelwynoliveira/">linkedin.com/in/kelwynoliveira/</a><br>
</p>
<p></p>