<div class="manheader">
  <span>KELWYN OLIVEIRA(6)</span>
  <span>KELWYN OLIVEIRA(6)</span>
</div>

<section class="section name">
  <h2 class="title">NAME</h2>
  <p class="subtext">
    Kelwyn Oliveira - Engineer
  </p>
</section>

<section class="section synopsis">
  <h2 class="title">SYNOPSIS</h2>
  <p class="subtext">
    <b>kelwyn</b> [OPTIONS] COMMAND [ARG...]
  </p>
</section>

<!-- <section class="section description">
<h2 class="title">DESCRIPTION</h2>
<p class="subtext">
  <b>kelwyn</b> is an advocate for user's success, system scale, and open-source.
  He's passionate about community, culture, and staying ahead of the curve.
  He wants to use his years of experience running large-scale systems to help others succeed.
</p>
</section>
 -->