<section class="section history">
  <h2 class="title">HISTORY</h2>
  <p class="subtext bottomcut">
    * <a href="https://www.eldorado.org.br/">Instituto de Pesquisa Eldorado</a>
  </p>
  <p class="doublesubtext">
    - Jr. Software Analyst - Tech Lead, 2023-present
  </p>
  <p class="triplesubtext">
    Working on releases related to Android Security Update. <br>
    * Analysis of issues, logs collection, performance improvements and bug fixes. <br>
    * Technical support to managers, test leaders and other Android product stakeholders. <br>
    * Leading technical analysis and implementations/corrections (SW development). <br>
    * Working directly with the requirements of the main carriers in the Americas and Europe. <br>
    Developed documentation on How To for the activities related to the role on Confluence pages<br>
    * Mapped the team activities necessary for the launch of a Android Security Update. <br>
    * Structured a kanban in Jira with the activities and filters by product and role.
  </p>
  <p class="subtext bottomcut">
    * <a href="https://www.eldorado.org.br/">Instituto de Pesquisa Eldorado</a>
  </p>
  <p class="doublesubtext">
    - Trainee - Software Analyst Integration, 2021-2022
  </p>
  <p class="triplesubtext">
    Working on releases related to Android Operational System Upgrade. <br>
    * Acting in the adaptation of smartphone software to new Android versions. <br>
    <!-- * Supporting the investigation, analysis and eventually the resolution of bugs.<br> -->
    * Implementation of features based on specific requirements of operators in America and Europe.<br>
    * Support in the process of software validations. <br>
    * Support with analysis of complex problems involving the embedded software (for smartphone). <br>
    <!-- * Perform Android build validations following pre-defined processes and procedures. <br> -->
    <!-- * Support in documenting and improving test/validation processes. <br> -->
    Mapped the activities of the OS Upgrade team <br>
    * Documenting the activities relatade to the Integration Software Analyst role. <br>
    * Developed a website with instructions on how to carry out the activities of the role.
  </p>
  <p class="subtext bottomcut">
    * <a href="https://www.honda.com.br/institucional/honda-no-brasil">Moto Honda</a>
  </p>
  <p class="doublesubtext">
    - Intern - Mechatronics Technician, 2013-2014
  </p>
  <p class="triplesubtext">
    Carrying out general management activities for the new model development at the Product Engineering Sector. <br>
    * Assist with documentation control. <br>
    * Give support in the preparation of presentation materials. <br>
    * Support general management activities for the development of new models.
  </p>
</section>