<h2 class="title">OPTIONS</h2>
<p class="subtext">
  --engineer
</p>
<p class="doublesubtext">
  Apply engineering and scientific methods:
</p>
<p class="triplesubtext">
  * Development in c, python, go, and javascript<br>
</p>
<p class="subtext">
  --student
</p>
<p class="doublesubtext">
  Always learning new things:
</p>
<p class="triplesubtext">
  * Developing apps to remain empathetic to customer's experience<br>
</p>
<p class="subtext">
  --teacher
</p>
<p class="doublesubtext">
  Teach when applicable and learn in all situations (see <i>--student</i>):
</p>
<p class="triplesubtext">
  * Developped a <a href="https://kelwynoliveira.github.io/nolukai/" target="_blank">blog</a> and a <a href="https://www.youtube.com/@nolukai" target="_blank">youtube channel</a> to talk about tech, programming, software development, and school.<br>
</p>
<p class="subtext">
  --v[v[v]]
</p>
<p class="doublesubtext">
  External content and additional reading available at:
</p>
<p class="triplesubtext">
  Publications:<br>
</p>
<table class="triplesubtext">
  <tbody>
    <tr>
      <td>
        * LinkedIn
      </td>
      <td>
        <a href="https://www.linkedin.com/in/kelwynoliveira/" target="_blank">linkedin.com/in/kelwynoliveira</a><br>
      </td>
    </tr>
    <tr>
      <td>
        * Personal website
      </td>
      <td>
        <a href="https://kelwynoliveira.github.io/Portfolio/" target="_blank">kelwyn.me</a><br>
      </td>
    </tr>
    <tr>
      <td>
        * GitHub
      </td>
      <td>
        <a href="https://github.com/kelwynOliveira" target="_blank">github.com/kelwynOliveira</a><br>
      </td>
    </tr>
    <tr>
      <td>
        * Knowledge sharing blog
      </td>
      <td>
        <a href="https://kelwynoliveira.github.io/nolukai/" target="_blank">nolukai.com</a><br>
      </td>
    </tr>
    <tr>
      <td>
        * YouTube
      </td>
      <td>
        <a href="https://www.youtube.com/@nolukai" target="_blank">@nolukai</a><br>
      </td>
    </tr>
  </tbody>
</table>
<p></p>