<header class="header noprint">
  <div class="info">
    <img src="{{ '/assets/img/curriculum/about.png' | relative_url }}" alt="">
    <h1>Kelwyn Oliveira's curriculum - Engineer:\</h1>
  </div>

  <nav class="menu">
    <div class="main-options">
      <label class="level-1" for="file"><span>F</span>ile</label>
      <label class="level-1" for="view"><span>V</span>iew</label>
      <label class="level-1" for="help"><span>I</span>nfo</label>
      <div class="space"></div>
    </div>

    <ul class="menu-items menu-item-file">
      <li>
        <button class="button" onclick="window.print();">
          <img class="img-icon" src="{{ '/assets/img/curriculum/print.png' | relative_url }}" alt="Print button image">
          <span>Print</span>
        </button>
      </li>

      <li>
        <a class="button" href="{{ '/assets/Kelwyn-Oliveira-Curriculum.pdf' | relative_url }}" download>
          <img class="img-icon" src="{{ '/assets/img/curriculum/save.png' | relative_url }}" alt="Save button image">
          <span>Save</span>
        </a>
      </li>
    </ul>

    <ul class="menu-items menu-item-view">
      <li>
        <label class="level-2 button" for="print-version">
          <img class="img-icon" src="{{ '/assets/img/curriculum/print-version.png' | relative_url }}" alt="">
          <span>Print version</label>
        </label>
      </li>

      <li>
        <label class="level-2 button" for="windows-version">
          <img class="img-icon" src="{{ '/assets/img/curriculum/windows-version.png' | relative_url }}" alt="">
          <span>Windows version</span>
        </label>
      </li>

    </ul>

    <ul class="menu-items menu-item-help">
      <li>
        <a class="button" href="mailto:kelwyn.oliveira@gmail.com?Subject=You%27re%20Hired!">
          <img class="img-icon" src="{{ '/assets/img/curriculum/email.png' | relative_url }}" alt="">
          <span>E-mail</span>
        </a>
      </li>
      <li>
        <a class="button" href="https://www.linkedin.com/in/kelwynoliveira/">
          <svg class="img-icon linkedin">
            <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#linkedin' | relative_url }}"></use>
          </svg>
          <span>LinkedIn</span>
          </button>
        </a>
      </li>
      <li>
        <a class="button" href="https://github.com/kelwynOliveira">
          <svg class="img-icon github">
            <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#github' | relative_url }}"></use>
          </svg>
          <span>GitHub</span>
        </a>
      </li>
      <li>
        <a class="button" href="{{ '/' | relative_url }}">
          <img class="img-icon" src="{{ '/assets/img/curriculum/webpage.png' | relative_url }}" alt="">
          <span>Webpage</span>
        </a>
      </li>
      <li>
        <a class="button" href="https://www.youtube.com/@nolukai">
          <svg class="img-icon youtube">
            <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#youtube' | relative_url }}"></use>
          </svg>
          <span>YouTube</span>
        </a>
      </li>
    </ul>

  </nav>
</header>