---
permalink: projects
---

{% include head.html %}

<body>
  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <div>
        <h2 class="header-title"><a href="https://kelwynoliveira.github.io/">Kelwyn Oliveira</a></h2>
      </div>

      <div class="socials-header">
        <nav aria-label="Contatos">
          <ul class="contact-list" data-list="contacts">
            <!-- Contacts list -->
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="body-container">

    <div class="home">
      <h1 class="title">Projects</h1>

      <ul class="projects-list" data-list="projects">
        <!-- Projects list -->
      </ul>
    </div>

  </div>

  {% include footer.html %}

  <script type="module" src="/assets/js/script.js"></script>
</body>

</html>