---
layout: default
---
<div class="archive">
  <div class="container">
    <h1 class="archive-title">{{ page.title }}</h1>
  </div>

  <section class="container">
    {{ content }}
  </section>

  <section class="container">
    {%- if page.is-category -%}

    {%- for category in site.categories -%}
    {%- if category[0] == page.posts-category -%}
    <ul class="post-list">
      {% for post in category[1] %}
      {%- include posts-presentation.html -%}
      {% endfor %}
    </ul>
    {%- endif -%}
    {%- endfor -%}

    {%- elsif page.is-tag -%}

    {%- for tag in site.tags -%}
    {%- if tag[0] == page.posts-tag -%}
    <ul class="post-list">
      {% for post in tag[1] %}
      {%- include posts-presentation.html -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}
    {%- endfor -%}

    {%- endif -%}
  </section>
</div>