---
layout: default
---

<section class="container">
  {{ content }}
</section>


<section class="window-content">
  <ul class="categories-list">
    {% for category in site.categories %}
    {% assign name = category[0] %}
    {%- assign category_url = name | slugify: 'latin' -%}
    <li>
      <a class="link-category" href='{{ "/category/" | append: category_url  | relative_url }}'>
        <img class="category-img" src="{{ '/assets/img/windows/folder.png' | relative_url }}" alt="Folder">
        <span>{{ name | escape | capitalize }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</section>