---
layout: default
---

<style>
  .see-more {
    text-align: center;
    margin-top: 30px;
  }

  .see-more-link {
    color: #333;
    border-bottom: 1px solid #333;
    padding: 5px;
  }

  .see-more-link:hover {
    text-decoration: none;
    border: none;
    background-color: #fb0;
  }
</style>

<div class="home">
  <section class="container">
    {{ content }}
  </section>

  <section class="container">
    <ul class="post-list">
      {%- for post in site.posts limit: 15 -%}
      {%- include posts-presentation.html -%}
      {%- endfor -%}
    </ul>
  </section>

  <div class="container">
    <div class="see-more">
      <a class="see-more-link" href='{{ "/all/" | relative_url }}'>See more</a>
    </div>
  </div>
</div>