<!-- Academic -->
<section class="section-item">
  {% for academic in site.data.academics %}
  <h2 class="sub-title">{{ academic.title[layout.lang] }}</h2>

  <ul class="graduations-list">

    {% for school in academic.schools %}
    <li class="graduation-item">
      <p class="graduation-title">{{ school[layout.lang].graduation}}</p>
      <a class="graduation-course" href="{{ school.certificate }}" target="_blank">{{ school[layout.lang].course_title}}</a>
      <p class="graduation-school">{{ school.school }}</p>
    </li>
    {% endfor %}

  </ul>

  {% endfor %}
</section>