<!-- Licenças e certificações -->
<section class="section-item certifications-container">
  {% for certifications in site.data.certifications %}

  <h2 class="sub-title">{{ certifications.title[layout.lang] }}</h2>

  <ul class="certifications-list">

    {% assign certification_by_date = certifications.courses | sort: "end | date" %}

    {% for certification in certification_by_date %}
    <li>
      <div class="certification-title-div">
        <a class="certification-title" href="{{ certification.certificate }}" target="_blank">{{ certification[layout.lang].course_title }}</a>
        <span class="certification-date">{{ certification.end | date: "%b %Y"}}</span>
      </div>
      <p class="certification-school">{{ certification.school }}</p>
      <!-- <p class="font-2 font-xs color-smooth">{{ certification[layout.lang].type }}</p> -->
      <ul class="certification-category-list">

        {% for category in certification[layout.lang].category %}
        <li class="certification-category">{{ category }},&ensp;</li>
        {% endfor %}

      </ul>
    </li>
    {% endfor %}

  </ul>


  {% endfor %}
</section>